<section class="contenedor-pagos">
  <section class="contenedor1">
    <h1 class="titulo-pagos">Elije La Mejor Forma Para Realizar Tu Pago</h1>
    <p class="pafo1">Pago seguro por Tarjetas debitó o crédito </p>
    <img class="logo-tarjeta" src="./assets/images/logotarjetas.jpg" alt="imagen de tarjetas" />
    <img class="iconos-tarjetas" src="./assets/images/icono-tarjetas.png"  alt="imagen logo tarjetas" />

    <form class="formulario">
      <p>
        <label class="num-tarje">Titular de la tarjeta:</label>
        <input  class="input-form" type="text" name="fullname" id="fullname" />
      </p>
      <p>
        <label class="num-tarje">Numero de la tarjeta:</label>
        <input class="input-form" type="text" name="fullname" id="fullname" />
      </p>
      <p>
        <label class="num-tarje" >Fecha de vencimiento:</label>
        <input class="input-form"type="date" name="date" id="date" />
      </p>

      <p>
        <label class="num-tarje">Codigo de seguridad:</label>
        <input class="input-form"type="text" name="text" id="text" />
      </p>
      <p>
        <label class="num-tarje">Pagar al finalizar:</label>
        <input class="input-form" type="text" name="text" id="text" />
      </p>

      <p>
        <button class="bot-enviar" type="submit">
          Enviar
        </button>
      </p>
    </form>
  </section>
</section>