<div class="contenedor-principal">
  <h1 class="title">Realizar Compra</h1>
  <form class="datos-compra">
       <p class="dato-cliente">
     <label class="u-suario">Cliente:</label>  
     <input class="usuario"  type="text" name="fullname" id="fullname" placeholder="Nombre del cliente cliente"/>
     
       </p>
  
  <p class="dato-cliente">
      <label class="c-orreo">Correo:</label>  
      <input class="correo" type="text" name="correo" id="correo" placeholder="Ingresa El Correo Del Cliente"/>
      
  </p>
</form>
<tr class="table1">
<td class="fila0">Imagen</td>
<td class="fila-nombre">Nombre</td>
<td class="fila-precio">Precio</td>
<td class="fila-cantidad">Cantidad</td>
</tr>
<tr class="table1">
<img src="./assets/images/tipoa.jpg" alt="imagen de abono"class="imagen1"/>
<td class="fila1">Huevo  Tipo A</td>
<td class="fila2">$ 14500</td>
<td class="fila3">5</td>
</tr>
     
<tr class="table1">
<img src="./assets/images/tipoa.jpg"  alt="imagen de abono"class="imagen1"/>
<td class="fila4">Huevos Doble A</td>
<td class="fila5">$ 16000</td>
<td class="fila6">10</td>
</tr>
     
<tr class="table1">
<img src="./assets/images/huevostriplea.jpg"  alt="imagen de abono"class="imagen1"/>
<td class="fila7">Huevos Triple A</td>
<td class="fila8">$ 18.000</td>
<td class="fila9">3</td>
</tr>
<tr class="table2">
<td class="fila10">Sub total</td>
<td class="fila11">Eliminar</td>
</tr>

<tr class="table2">
<td class="fila12">72.500</td>
<img src="./assets/images/iconeliminar.webp"  alt="imagen de icono eliminar"class="imagen2"/>
</tr>  
<tr class="table2">
<td class="fila13">160.000</td>
<img src="./assets/images/iconeliminar.webp"  alt="imagen de icono eliminar"class="imagen3"/>
</tr> 

<tr class="table2">
<td class="fila14"> 54.000</td>
<img src="./assets/images/iconeliminar.webp"  alt="imagen de icono eliminar"class="imagen4"/>  
</tr>  

<tr class="table3">
<td class="fila15">SubTotal: </td>
<td class="fila16"> $/286.500</td>
<td class="fila17">Iva:</td>
<td class="fila18">$19</td>
<td class="fila19">Total:</td>
<td class="fila20">$/286.500</td>
</tr>  
 

</div>