<div class="servicios">
    <div class="grid">
        
        <p class="parrafo_servicios">Porque sabemos que cada persona es única y especial, tenemos una variedad que se ajusta a las necesidades de todos. Queremos acompañarte en cada momento de tu vida, ¡Elige tu línea favorita! y disfruta sus múltiples beneficios. </p> 
        <div class="items1">
            <div class="itemes">
                <img src="./assets/images/recetashuevogallina.jpg" alt="recetas con huevos de gallina" class="img" />
                <a href="https://www.youtube.com/results?search_query=recetas+huevos+de+gallina">Recetas para preparar con huevos de gallina.</a>
            </div>
           
    
                 <div class="itemes">
                    <img src="./assets/images/recetashuevoscoorniz.jpg" alt="recetas huevos de codornis" class="img" />
                    <a  href="https://www.youtube.com/results?search_query=recetas+con+huevos+de+codornices">Recetas con huevos de codorniz</a>
                </div>
                
                <div class="itemes">
                    <img src="./assets/images/Beneficiohuevogallina.jpg" alt="Beneficios consumir huevo gallina" class="img" />
                    <a href="https://www.youtube.com/results?search_query=beneficios+de+consumikr+huevos+de+gallinas">Beneficios de consumir huevos de gallinas</a>
                    
                 </div> 
            
            <div class="itemes">
                <img src="./assets/images/BeneficioCornices.jpeg" alt="beneficios consumir huevos de codornices" class="img" />
                <a href="https://www.youtube.com/results?search_query=beneficios+de+consumikr+huevos+de+codorniz">Beneficios de consumir huevos de codorniz</a>
            </div>

            
        </div>   
       

     </div>   
     </div>  

     <aside class="aside">
         
 <div class="grid">
    <h2 class="titulo2">Nuestros productos</h2>
    <img src="./assets/images/imagendegallinas.webp" alt="imagen de gallinas"class="img-gallina" />
    <p class="primer-parrafo">Conoce todas nuestras lineas de productos especializadas para cada necesidad,productos naturales con alto contenido nutricional en vitaminas ,minerales,aminoacidos y antioxidantes.</p>

    
    <div class="aviabono">
        <h3>Huevos de codornices enriquecidos con Omega 3, ¿una realidad?  </h3>
        <p class="parrafo2">Como es de conocimiento, este tipo de ácidos grasos fortalece las neuronas y ayudan a mantener el corazón sano y protegido contra un accidente cardiovascular; además se les atribuyen beneficios contra enfermedades como el cáncer, la depresión, la inflamación y el trastorno de hiperactividad con déficit de atención, THDA, entre otros beneficios. El problema es que el cuerpo no produce omega 3, y son muy pocos los alimentos enriquecidos con éste, por lo que se debe obtener a través de la alimentación, en especial mediante el consumo de pescado o de este tipo de alimentos enriquecidos.</p>
        <img src="./assets/images/codorniz.jpg" alt="imagen de abono"class="img-abono" />
    </div>
    
</div>
</aside>


<footer>
<div class="grid">
    <div class="textos-footer">
        <h4 class="subtitulo">HUEVOS BERO</h4>
        <p>Palmira Tel: 4851919</p>
        <p>Cali Tel: 3153326422</p>
        <p>Candelaria Tel: 2649847</p>
        <p>Gorgona Tel: 3186214256</p>
    </div>

    <div class="footer-item1">
        <a href="#">
            <i class="fab fa-facebook-f"></i>

        </a>
    </div>
    <div class="footer-item2">
        <a href="#">
            <i class="fab fa-twitter"></i>

        </a>
    </div>
    <div class="footer-item3">
        <a href="#">
            <i class="fab fa-instagram-square"></i>

        </a>
    </div>
   
    <div class="footer-item4">
        <a href="#">
            <i class="fab fa-whatsapp"></i>

        </a>
    </div>

    </div>

</footer>
