
p{
    color: black;
}
.titulo-domici{
    font-size: 20px;
}
.img-gps {
    width: 39px;
    height: 31px;
    margin-left: 22px;
    margin-top: 14px;
    
}
.circle {
    width: 34px;
    height: 35px;
    margin-left: 22px;
    margin-top: 22px;
    border-radius: 76px;
}
.container{
    background: white;
    width: 100%;
    height:941px;
}
.info-Domicilio {
    position: absolute;
    background: white;
    width: 50%;
    margin-top: 242px;
    height: 78px;
    border-radius: 24px;
    margin-left: 25%;
    border: solid 1px #AAA;
}
    
  
  .title-domici{
    font-size: 27px;
    position: absolute;
    margin-top: 76px;
    margin-left: 38%;
  }
  .parrafo-domicilio{
    font-size: 27px;
    margin-top: 134px;
    position: absolute;
    margin-left: 120px;
  

  }
  .detalle-compra{
    font-size: 30px;
    margin-left: 26%;
    margin-top: 392px;
  position: absolute;
  }
.detalle-delpedido{
    margin-top: 445px;
    background: white;
    position: absolute;
    width: 50%;
    height: 78px;
    border-radius: 24px;
    margin-left: 25%;
    border: solid 1px #AAA;
}
.p-domicilio{
    font-size: 30px;
    margin-left: 26%;
    margin-top: 183px;
    position: absolute;
}
.parrafo-pedido {
    font-size: 24px;
    margin-top: -43px;
    margin-left: 84px;
  
}
.p-pedido{
    font-size: 24px;
    margin-top: -43px;
    margin-left: 89%;
    color: green;;
}
.p-pedido:hover{
    cursor: pointer;
    text-decoration: underline;
}
.parrafo-puntos{
    font-size: 30px;
    margin-top: 28%;
    margin-left: 26%;
    position: absolute;
}
.cont {
    margin-left: 50%;
    margin-top: 33%;
    width: 116px;
    height: 49px;
    font-size: 19px;
    border-radius: 14px;
    background: #06283D;
    color: white
}
.cont:hover{
cursor: pointer;
}

.parrafo-dire{
    font-size: 24px;
    margin-left: 132px;
    margin-top: -43px;
    position: absolute;
}
.parrafo-barrio{
    font-size: 24px;
    margin-left: 132px;
    margin-top: -14px;
    position: absolute;
}

.parrafo-editar{
    font-size: 24px;
    margin-left: 78%;
    margin-top: -25px;
    position: absolute;
}
.parrafo-editar:hover{
    cursor: pointer;
    text-decoration: underline;
}