<div class="container">
    <h1 class="title-domici">¿Cómo quieres recibir tu compra?</h1>
     <p class="p-domicilio">Domicilio</p>
     <div class="info-Domicilio">
        <img class="img-gps"src="./assets/images/gps-icon.png" alt="Imagen del gps">
        <p class="parrafo-dire">Carrera 11 a # 14-12</p>
         <p class="parrafo-barrio">Jorge eliecer gaitan candelaria valle</p>
         <p class="parrafo-editar">Editar o elegir otro</p>
     </div>
     <p class="detalle-compra">Recibir compra</p>

     <div class="detalle-delpedido">
        <img class="circle" src="./assets/images/circulo.png" alt="Imagen del punto circulo">
         <p class="parrafo-pedido">Llegá el martes y el viernes 4 marzo a tu dirección</p>
         <p class="p-pedido">Gratis</p>
     </div>
     <p class="parrafo-puntos">Beneficio mercado puntos</p>
     <button class="cont" type="submit">
         Continuar
     </button>

</div>